* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.App {
  text-align: center;
}

.the-whole-homepage {
  background-color: #f1f3f5;
}

li {
  margin-bottom: 2rem;
}
.link:link,
.link:visited {
  text-decoration: none;
  font-size: 2rem;
  cursor: pointer;
  color: white;
  background-color: orangered;
  padding: 0.8rem 1.6rem;
  border-radius: 5px;
}

.link:active,
.link:hover {
  background-color: orange;
  transition: 5ms;
}

.nav-link:link,
.nav-link:visited {
  margin-left: 2rem;
  font-size: 2rem;
  color: orangered;
  text-decoration: none;
}

.nav-link:active,
.nav-link:hover {
  transition: 5ms;
  text-decoration: underline;
}

/* HOME PAGES STYLING */
/* header section */
.home-home {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;

  background-image: url(./images/todo-img-2.webp);
  background-size: cover;
}
.home {
  height: 94.5vh;
  display: grid;
  grid-template-columns: 1fr;
}

.home-header {
  align-content: end;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.home-header > h1 {
  color: orangered;
  text-align: start;
  margin: 3.6rem 0 0 3.6rem;
}

.home-header-text {
  text-align: start;

  font-size: 1.8rem;
  line-height: 1.2;
  padding: 0 18rem 0 6.4rem;
  margin-bottom: 14rem;
}

.home-header-text > h2 {
  font-size: 4.2rem;
  line-height: 0.8;
  margin-bottom: 3.2rem;
}

/* How it works section */

.the-whole-howitworks {
  background-color: #f1f3f5;
}

.howitWorks-section {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;

  height: 100vh;
  background-color: #e9ecef;
}

.howitWorks-section > h2 {
  font-size: 3.6rem;
  margin: 5.6rem 0;
}

.howitWorks-navigation {
  display: flex;
  justify-content: space-between;
  padding: 2rem 2rem 0 2rem;
}

.howitWorks-navigation > h1 {
  color: orangered;
  font-size: 2rem;
}

.list-items {
  font-size: 2rem;
  line-height: 1.1;
}

/* THE TODO LIST SECTION */
.the-whole-todo {
  background-color: #f1f3f5;
}
.thetodosection {
  max-width: 120rem;
  padding: 0 3.2rem 3.2rem 3.2rem;
  margin: 0 auto;

  background-color: #e9ecef;
}

.things-to-do {
  font-size: 3.6rem;
  margin-top: 5.6rem;
}

.form {
  margin-bottom: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.entry-field {
  width: 60%;
  height: 4.8rem;
  padding-left: 2rem;
  font-size: 2rem;

  border: 3px solid orangered;
  border-radius: 5px 0 0 5px;
}

.submit-btn {
  height: 4.8rem;
  padding: 0 1.5rem;

  color: white;
  font-size: 1.6rem;
  background-color: orangered;
  border: 1px solid orangered;
  /* border-radius: 3px; */
}

.counters {
  font-size: 2rem;
}

/*//////////////////////////// @MEDIA QUERRIES ///////////////////////*/

@media (max-width: 75em) {
  .home-home {
    margin: 0 2.4rem;
  }
}

@media (max-width: 65em) {
  html {
    font-size: 56.25%;
  }
  .home-header-text > h2 {
    font-size: 4.4rem;
    line-height: 0.9;
  }
  .home-header-text {
    line-height: 1.2;
    padding: 0 12rem 0 5rem;
  }
  .home-home {
    background-size: 1080px 650px;
  }
}

/* 890px */
@media (max-width: 56em) {
  .home-header-text > h2 {
    font-size: 4rem;
  }
  .home-header-text {
    line-height: 1.2;
    padding: 0 10rem 0 5rem;
  }
  .home-header {
    grid-template-columns: 1.3fr 1fr;
  }
}

/* 750px */
@media (max-width: 47em) {
  .home-header {
    grid-template-columns: 1.7fr 1fr;
  }
  .home-home {
    background-size: 750px 650px;
  }
}

/* 640px */
@media (max-width: 40em) {
}
