* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.home-header {
  background-color: aquamarine;
  padding: 24px 24px 96px 24px;
  /* margin-bottom: 48px; */
}

li {
  margin-bottom: 5px;
}
.link:link,
.link:visited {
  text-decoration: none;
  cursor: pointer;
  color: white;
  background-color: orangered;
  padding: 8px 16px;
  border-radius: 5px;
}

.link:active,
.link:hover {
  background-color: orange;
  transition: 5ms;

  transform: scale(1.2);
}

/* HOME PAGES STYLING */
